# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\JAVA\JAVA All\Паттерны Проектирования\Specialist Patterns\Structural\Composite\CompositeJava\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
